#title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  #aircrafts {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
  #aircrafts td, #aircrafts th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #aircrafts tr:nth-child(even){background-color: #f2f2f2;}
  
  #aircrafts tr:hover {background-color: #ddd;}
  
  #aircrafts th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #353535;
    color: #f7f7f7;
  }